      <nav class="navbar-expand navbar-transparent navbar-absolute">
        <div class="container-fluid">
          <div class="card-header card-header-info">
            <div class="text-center">
              <a>
                Rasulullah SAW bersabda: “Siapa yang membaca satu huruf dari Al-Quran maka baginya satu kebaikan dengan bacaan tersebut, satu kebaikan dilipatkan menjadi 10 kebaikan semisalnya dan aku tidak mengatakan <i>Alif-Laam-Miim</i> satu huruf akan tetapi <i>Alif</i> satu huruf, <i>Laam</i> satu huruf dan <i>Miim</i> satu huruf.” <br> (HR Tirmidzi, Shahih Al Jami’ No. 6469)
              </a>
            </div>
          </div>
        </div>
      </nav>