{% extends "layouts/base.html" %}

{% block title %} Statistik {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">group</i>
            </div>
            <p class="card-category">Jumlah Kontributor</p>
            <h3 class="card-title">{{ total_user }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-warning">switch_account</i>
              <a href="{% url 'register' %}">Daftar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">playlist_play</i>
            </div>
            <p class="card-category">Jumlah Ayat</p>
            <h3 class="card-title">{{ total_ayat }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-success">list</i> Jumlah Surat: {{ total_surat }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">auto_graph</i>
            </div>
            <p class="card-category">Capaian Target</p>
            <h3 class="card-title">{{ total_data }}%</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">gps_fixed</i> Target: {{ target_ayat }} Ayat
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">storage</i>
            </div>
            <p class="card-category">Total Data</p>
            <h3 class="card-title">{{ persen_target }} <small>GB</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-info">cloud_circle</i> Prediksi 100% Target: {{ prediksi_data_target }} GB
            </div>
          </div>
        </div>
      </div>
    </div>

<!--     CHART -->
<!--     <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Daily Sales</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-warning">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Email Subscriptions</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Completed Tasks</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Kontributor ---- <i><strong>Top 5</strong></i></h4>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-info">
                <th>username</th>
                <th>lembaga</th>
                <th>ayat</th>
                <th>surat</th>
              </thead>
              <tbody>
              {% for e in top5_user %}
                <tr>
                  <td>{{ e.username }}</td>
                  <td>{{ e.lembaga }}</td>
                  <td>{{ e.jumlah_ayat }}</td>
                  <td>{{ e.jumlah_surat }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Lembaga</h4>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-success">
                <th>lembaga</th>
                <th>kontributor</th>
                <th>ayat</th>
                <th>surat</th>
              </thead>
              <tbody>
                {% for e in lembaga %}
                <tr>
                  <td>{{ e.lembaga }}</td>
                  <td>{{ e.jumlah_kontributor }}</td>
                  <td>{{ e.jumlah_ayat }}</td>
                  <td>{{ e.jumlah_surat }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/demo/demo.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
